.parallax {
    background-image: url(./img/sz.jpg);
    height: 43vh;
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: 100%;

}

nav a {
    color: white;
}

nav a img {
    filter: brightness(10);
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    text-align: center;
    padding: 10rem 13vw;
    flex-wrap: wrap;
}

.card-wrapper .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    gap: 23px;
    overflow: hidden;
    text-wrap: wrap;
    height: 22rem;
    width: 17rem;
    padding: 1rem;

}

.card-wrapper .card img {
    width: 5rem;
}

.card-wrapper .card p {
    font-family: var(--sansserif);
}

.card-wrapper .card a {
    font-family: var(--sansserif);
    background-color: var(--sec-color);
    color: white;
    padding: .5rem 1rem;
    border-radius: 25px;
}

.map {
    background-color: white;
    height: 100%;
    overflow: hidden;
}

.card a {
    text-decoration: unset;
}


@media screen and (max-width: 1220px) {
    .parallax {
        height: 34vh;
    }


}

@media screen and (max-width: 950px) {
    .parallax {
        background-size: 165%;
        background-position: top;
        height: 27vh;
    }
    .card-wrapper{
        padding-top: 6rem;
    }

}

@media screen and (max-width: 550px) {
    .parallax {
        height: 33vh;
    }
    .card-wrapper{
        padding-top: 1rem;
    }
    

}
