@font-face {
    font-family: loverine;
    src: url(./font/Loverine.otf);
    font-weight: 100;
}

@font-face {
    font-family: edition;
    src: url(./font/edition.ttf);
    font-weight: 100;
}

@font-face {
    font-family: dmsans;
    src: url(./font/dmsans.ttf);
    font-weight: 100;
}
@font-face {
    font-family: dmsans-bold;
    src: url(./font/dmsans-bold.ttf);
    font-weight: 100;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --main-color: #C68486;
    --sec-color: #924648;
    --hover-sec-color:#883E40;
    --script: "loverine";
    --serif: "edition";
    --sansserif: "dmsans";
    --sansserifbold: "dmsans-bold"
}


body {
    background-color: var(--main-color);
    font-family: var(--script);
    color: var(--sec-color);
    position: relative;
    overflow-x: hidden;
}

nav {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  3rem;
}
nav a {
    color: var(--sec-color);
    font-family: var(--sansserifbold);
    font-size: 1.5rem;
    font-weight: bold;
}


.rsvp {
    width: 100%;
    background-color: var(--sec-color);
    color: white;
    text-align: center;
    padding: 3rem ;
}

.rsvp h3 {
    font-family: var(--sansserif);
    margin-bottom: 1rem;
}

.rsvp a img {
    width: 12rem;
}

.copyright {
    background-color: white;
    height: 5vh;
    font-family: var(--sansserif);
    font-size: .8rem;
    color: var(--sec-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

