.section1{
  overflow: hidden;

}
.hero {
  min-height: 95vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 6rem;
}

h1 {
  font-weight: unset;
  color: var(--sec-color);
  margin: 0;
  font-size: 250px;
  line-height: 0.9;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}
.gallery-ios16 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
  height: 580px;
}

.cards, .cards-ios16 {
  position: relative;
  display: flex;
}

.card__body img {
  width: 100%;
  height: auto;
  filter: grayscale();
  opacity: 0.9;
}
.card-ios16{
  z-index: 1;
  background: white;
  padding: 15px 15px 60px 15px;
  width: 300px;
  box-shadow: 1px 3px 16px rgba(44, 31, 18, 0.289);
}

.card {
  transform: translate(-1.5rem, -100%) skewX(-1deg);
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1), background-color .5s cubic-bezier(0.64, 0, 0.78, 0);
  z-index: 1;
  background: white;
  padding: 15px 15px 60px 15px;
  width: 300px;
  box-shadow: 1px 3px 16px rgba(44, 31, 18, 0.289);


  [data-active="1"] &:not(:nth-of-type(1)),
  [data-active="2"] &:not(:nth-of-type(2)),
  [data-active="3"] &:not(:nth-of-type(3)) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  [data-active="1"] &:nth-of-type(1),
  [data-active="2"] &:nth-of-type(2),
  [data-active="3"] &:nth-of-type(3) {
    z-index: 0;
    transform: none;
  }

  [data-active="1"] & {
    &:nth-of-type(2) {
      transform: translate(2rem, 2rem);
      z-index: -1;

    }
  }

  [data-current="1"] & {
    &:nth-of-type(3) {
      transform: translate(4rem, 4rem);
      z-index: -2;
    }
  }

  [data-active="2"] & {
    &:nth-of-type(3) {
      transform: translate(2rem, 2rem);
      z-index: -1;
    }
  }

  [data-current="2"] & {
    &:nth-of-type(1) {
      transform: translate(4rem, 4rem);
      z-index: -2;
    }
  }

  [data-active="3"] & {
    &:nth-of-type(1) {
      transform: translate(2rem, 2rem);
      z-index: -1;
    }
  }

  [data-current="3"] & {
    &:nth-of-type(2) {
      transform: translate(4rem, 4rem);
      z-index: -2;
    }
  }

}

#card2 {
  rotate: -18deg;
}

#card3 {
  rotate: 23deg;
}

#card1 {
  rotate: 6deg;
}



.section2 {
  background-color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--sec-color);
  text-align: center;
  padding: 1.5rem;
}

.oui {
  font-size: 6rem;
}

.section2 li {
  display: inline-block;
  font-size: 2.5em;
  list-style-type: none;
  padding: 1em;
}

li span {
  font-family: var(--serif);
  display: block;
  font-size: 9.5rem;
}

.date p {
  font-family: var(--serif);
  font-size: 6rem;
}

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: white;
}

.timeline-component {
  display: flex;
  flex-direction: column;
}

.left {
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 3rem;
}

.right {
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 3rem;

}

.smaller-icon {
  width: 5rem;
}

.bigger-icon {
  width: 7rem
}

.timeline-component h2 {
  font-weight: unset;
  font-family: var(--serif);
  font-size: 7rem;
}

.timeline-component h3 {
  font-size: 3rem;
  font-weight: unset;
}

.timeline-component p {
  font-family: var(--sansserif);
  font-size: 1.7rem;
  font-weight: unset;
}



  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }

  .timeline-middle {
    position: relative;
    background-color: white;
    width: 3px;
    height: 100%;
  }

  .main-middle {
    opacity: 0;
  }



@media all and (max-width: 768px) {
  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: 5rem;
  }
}



@media screen and (max-width: 1220px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  .card {
    padding: 12px 12px 48px 12px;
    width: 250px;
  }
  .hero h1{ 
    font-size: 205px;
  }
}

@media screen and (max-width: 550px) {
  .card {
    width: 200px;
  }
  .hero h1{
    font-size: 115px;
    margin: 2rem;
  }
  .oui p, .date p {
    font-size: 3rem;
  }
  .section2 li { 
    padding:.6em;
  }
  .timeline-component h2 {
    font-size: 5rem;
  }
  .timeline-component h3 {
    font-size: 2rem;
  }
  .timeline-component p {
    font-size: 1.2rem;
  }
  .right{
    margin-left: 2rem;
  }
  .left{
    margin-right: 2rem;
  }
  
}